body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-size: 15px;
}

.entry-grid {
    margin-top: 20px;
}

.entry {
    font-size: 30px;
    margin-top: 10px;
    border: 2px dashed grey;
}

.entry a:link {
    color: black;
}

.entry a:hover {
    color: yellow;
}